<div class="navbar">
  <div class="navbar-block left">
    <span class="navbar-logo">
      <a>Shobhit Sharma</a>
    </span>
  </div>
  <div class="navbar-block right">
    <span class="navbar-item" data-module="stream">About</span>
    <span class="navbar-item" data-module="products">Projects</span>
    <span class="navbar-item" data-module="developers">Resume</span>
  </div>
</div>
