<head>
  <base href="/">
  <title>Shobhit Sharma</title>
  <meta charset="UTF-8">
  <meta name="description" content="Shobhit Sharma Web Interface">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="assets/favicon.ico">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Karla:400,700">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="css/bundle.css">
  <script type="text/javascript" src="js/bundle.js"></script>
</head>
