<div class="card-container">
  <ul layout="rows top-left" id="MixItUp587AE0">
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/@jeffpersonified/2c0b4cbb091f" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/jeff.jpg')"></div>
            <div class="card-title">Giving Back to the Design Community</div>
            <div class="card-description card-description--clamp-0">Why a small team of Facebook designers build resources for designers.</div>
          </div>
          <div class="card-hero">
            <div class="card-image card-image--size-185" style="background-image: url(http://facebook.design/public/images/giving-back.png);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Jeff Smith's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix education" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/a-diy-design-education-218a4a2d340f#.z6sew89iw" target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/katherine.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">A DIY Design Education</div>
            <p class="card-description card-description--clamp-14">Build your own design curriculum without going to design school.</p>
            <p class="card-description card-article-preview">I’m a student at Stanford and a product design intern at Facebook, where I help design products for billions
              of people around the world. But I’m not studying design—I spend my time in school taking classes on philosophy,
              computer science, psychology, and linguistics. Instead, most of what I know about product design comes from
              independent learning and on-the-job experience. <br>For those who didn’t have the fortune of going through
              a design program, the path to...</p>
            <p></p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">education</div>
              <div class="card-tag is-shownIfHover">Read Katherine Liu's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/how-we-changed-the-facebook-friends-icon-dc8526ea9ea8" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/caitlin.jpg')"></div>
            <div class="card-title">How We Changed the Facebook Friends Icon</div>
            <div class="card-description card-description--clamp-0">Not long into my tenure as a Facebook designer I found something in the company glyph kit worth getting upset
              about.</div>
          </div>
          <div class="card-hero">
            <div class="card-image card-image--size-185" style="background-image: url(http://facebook.design/public/images/howwechangedthefriendsicon.gif);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Caitlin Winner's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/how-to-make-your-not-so-great-visual-design-better-67972eee3825#.fmnfd5k9g"
        target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/jasmine.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">How to Make Your Not​-​So​-​Great Visual Design Better</div>
            <p class="card-description card-description--clamp-14">“How do I get better at visual design?”</p>
            <p class="card-description card-article-preview">This question comes up a lot. I coach and mentor a lot of students on product design by tutoring for the Academy
              of Art in San Francisco, reviewing for AIGA’s portfolio reviews, hosting interns at Facebook and so on.<br><br>There’s
              a bridge from a student’s perspective to a professional’s perspective. For most, it’s guaranteed to be a blend
              of fear and excitement and curiosity, peppered with a lot...</p>
            <p></p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Jasmine Friedl's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/peek-inside-a-facebook-design-critique-c4833efda26e#.1zk0bbsdo" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/tanner.jpg')"></div>
            <div class="card-title">Peek Inside a Facebook Design Critique</div>
            <div class="card-description card-description--clamp-0">At Facebook, where we’re working to make the world more open and connected, an inherent part of our mission is
              to share how we create the things we build.</div>
          </div>
          <div class="card-hero">
            <div class="card-image card-image--size-185" style="background-image: url(http://facebook.design/public/images/peek-inside-a-facebook-design-critique.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Tanner Christensen's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/the-year-of-the-looking-glass/metrics-versus-experience-a9347d6b80b" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/julie.jpg')"></div>
            <div class="card-title">Metrics Versus Experience</div>
            <div class="card-description card-description--clamp-3">Want to have a productive conversation about metrics and good experiences? Here’s what I’ve learned.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/metrics-versus-experience.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Julie Zhuo's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/elegant-tools/a-sense-of-where-you-are-998543822ab1#.zcsuagnab" target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/tomb.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">A Sense of Where You Are</div>
            <p class="card-description card-description--clamp-14">Why it takes organization and process to get things done as a designer.</p>
            <p class="card-description card-article-preview">The trouble with essays about design process is that they read like some sanctimonious twit regaling you with
              stories about their rosy life. I appreciate that you don’t want to hear that it takes organization to get things
              done. It’s all totally obvious, yet surprisingly hard to do day-to-day when you’d rather be learning Framer
              and coding a prototype. So I’ll try to keep this rooted in my direct experience.<br><br>The problem with simplicity...</p>
            <p></p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Tom Broxton's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix careers" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/questions-and-answers-from-design-interviews-at-facebook-ef685f6968a3#.fuv0jgw8n"
        target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/jasmine.jpg')"></div>
            <div class="card-title">Questions (and Answers) from Design Interviews at Facebook</div>
            <div class="card-description card-description--clamp-3">At the end of our interviews for Product Design at Facebook, we reserve a few minutes for the candidate to ask
              questions.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/questions-and-answers-from-design-interviews-at-facebook.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">careers</div>
              <div class="card-tag is-shownIfHover">Read Jasmine Friedl's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/how-to-be-effective-at-working-remotely-b832a0eaa933" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/brady.jpg')"></div>
            <div class="card-title">How to be Effective at Working Remotely</div>
            <div class="card-description card-description--clamp-0">Just like all other relationships, the largest contributing factor to a failed working relationship is basic
              communication—or the lack thereof.</div>
          </div>
          <div class="card-hero">
            <div class="card-image card-image--size-185" style="background-image: url(http://facebook.design/public/images/how-to-be-effective-at-working-remotely.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Brady Voss's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix case_studies" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/elegant-tools/bridging-the-gap-how-facebook-teamed-up-with-tv-advertisers-9b97fda1abea#.qw6jmn9qr"
        target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/lucy.jpg')"></div>
            <div class="card-title">Bridging the Gap: How Facebook Teamed Up With TV Advertisers</div>
            <div class="card-description card-description--clamp-3">Digital channels are revolutionizing what advertisers can do in ways that they don't understand. So we helped
              them see the possibilities.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/bridging-the-gap-how-facebook-teamed-up-with-tv-advertisers.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">case studies</div>
              <div class="card-tag is-shownIfHover">Read Lucy Davis's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix tools" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/framer-sketch-an-intentional-workflow-f91ee2ee1cc1#.18c8sqr5w" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/charlie.jpg')"></div>
            <div class="card-title">Framer &amp; Sketch: An Intentional Workflow</div>
            <div class="card-description card-description--clamp-0">Making prototypes can communicate what a final product will feel like early in the design process.</div>
          </div>
          <div class="card-hero">
            <div class="card-image card-image--size-185" style="background-image: url(http://facebook.design/public/images/framer-sketch-an-intentional-workflow.png);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">tools</div>
              <div class="card-tag is-shownIfHover">Read Charlie Deets's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/elegant-tools/six-steps-to-building-domain-expertise-in-a-complex-industry-dc116bbdf97e#.iq002527x"
        target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/margaret.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">Six Steps to Building Domain Expertise in a Complex Industry</div>
            <p class="card-description card-description--clamp-14">Spoiler alert: you're almost NEVER the only person who doesn’t understand something complex.<br><br><span class="card-article-preview">About four years ago, I decided to take the plunge and join the Facebook Ads &amp; Pages group to help build a design team for this crucial area of the business. I knew it was one of the biggest design opportunities in the industry, and I was excited to learn something new.</span></p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Margaret Gould Stewart's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/the-year-of-the-looking-glass/8-unintuitive-lessons-on-being-a-designer-ca7e97a572ee" target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/julie.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">Unintuitive Lessons on Being a Designer</div>
            <p class="card-description card-description--clamp-14">Of everything I believe, this goes deepest to my core: we can all be better. And so we should be.</p>
            <p class="card-description card-article-preview">I sometimes joke that everything I have ever learned about design, I learned from my first job. Nowadays, this
              first job has extended to nearly ten years, its soul consistent even as its shape unfurls in depths and colors
              I could never have imagined in the beginning.<br><br>Though I’ve always been an obsessive journaler, this year,
              I am particularly reflective...</p>
            <p></p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Julie Zhuo's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/canvas-how-we-crafted-facebook-s-new-immersive-ads-696870e66b3f#.s1swpxqij"
        target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/jaime.jpg')"></div>
            <div class="card-title">Canvas: How We Crafted Facebook’s New Immersive Ads</div>
            <div class="card-description card-description--clamp-3">Mobile ads can be painful. But they don’t have to be.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/canvas-how-we-crafted-facebooks-new-immersive-ads.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Jaime Rovira's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix case_studies" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/reactions-not-everything-in-life-is-likable-5c403de72a3f#.9gnc6uxpd" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/geoff.jpg')"></div>
            <div class="card-title">Reactions: Not Everything in Life is Likable</div>
            <div class="card-description card-description--clamp-3">In 2009, Facebook introduced the Like button, but we've since learned that not everything in life is likeable.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/reactions-not-everything-in-life-is-likable.png);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">case studies</div>
              <div class="card-tag is-shownIfHover">Read Geoff Teehan's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/critique-is-an-important-part-of-any-design-process-whether-you-work-as-part-of-a-team-or-solo-ef3dcb299ce3#.2p3kh63jy"
        target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/tanner.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">Four Things Working at Facebook Has Taught Me About Design Critique</div>
            <p class="card-description card-description--clamp-14">Critique is an important part of any design process. Here’s how my team at Facebook does it.</p>
            <p class="card-description card-article-preview">Whether you work within a diverse team or independently. The feedback you get through a formal critique can help
              get you outside your own head in order to make better decisions, overcome obstacles, and strengthen your craft.</p>
            <p></p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Tanner Christensen's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/what-i-ve-learned-designing-small-things-at-facebook-ba2b7c6499f8#.65hwtpkqn"
        target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/jasmine.jpg')"></div>
            <div class="card-title">What I've Learned Designing Small Things at Facebook</div>
            <div class="card-description card-description--clamp-3">Use small things as experiments, ways to learn more about that big thing you want to attack.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/what-ive-learned-designing-small-things-at-facebook.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Jasmine Friedl's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix research" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/the-7-habits-of-highly-effective-researchers-f89d46c58508#.ag7z96sw5" target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/steve.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">The 7 Habits of Highly Effective Researchers</div>
            <p class="card-description card-description--clamp-14">What’s the difference between a good researcher and a great researcher?</p>
            <p class="card-description card-article-preview">“Move Fast” is one of Facebook’s best known mottos, which can be seen on posters that decorate the walls of our
              offices around the world. Although the philosophy of Moving Fast allows Facebook to design and improve products
              for people all over the world, every once in a while it’s important to slow down, take a step back, and reflect.</p>
            <p></p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">research</div>
              <div class="card-tag is-shownIfHover">Read Steve Wengrovitz's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/elegant-tools/enterprise-software-design-a-call-to-arms-dd420d33850b#.xh01n6747" target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/tom.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">Enterprise Software Design: A Call to Arms</div>
            <p class="card-description card-description--clamp-14">Enterprise and business software should be as human-centered and approachable as consumer technology. And it's
              the responsibility of designers to get us there.</p>
            <p class="card-description card-article-preview">Today, many products we use in our daily lives are nothing short of miraculous. There’s an increasingly impressive
              array of well-crafted mobile apps that do a myriad of things. Many modern appliances are easier to operate
              than ever; even our thermostats have become smart and connected. But all these advances apply mostly to the
              products we choose to use...</p>
            <p></p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Tom Hobbs's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/elegant-tools/the-intricate-dance-of-designing-for-2-5-million-businesses-6513c8778c09#.qwp27m1jn"
        target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/tanner.jpg')"></div>
            <div class="card-title">The Intricate Dance of Designing for 2.5 Million Businesses</div>
            <div class="card-description card-description--clamp-3">The dance of quality design is never-ending; the rhythm and movements merely change over time. This dance is
              one I can only learn by doing.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/the-intricate-dance-of-designing-for-2-5-million-businesses.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Tanner Christensen's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix tools" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/@tarngerine/photographing-diverse-hands-at-facebook-3229ea76f94" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/julius.jpg')"></div>
            <div class="card-title">Photographing Diverse Hands</div>
            <div class="card-description card-description--clamp-3">A person using Origami told us that a caucasian male hand didn’t feel right when a majority of people using their
              products were neither caucasian nor male. We agreed.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/photographing-diverse-hands.png);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">tools</div>
              <div class="card-tag is-shownIfHover">Read Julius Tarng's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix careers" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/a-guide-to-interviewing-for-product-design-internships-d719dd4c146c" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/andrewh.jpg')"></div>
            <div class="card-title">A Guide to Interviewing for Product Design Internships</div>
            <div class="card-description card-description--clamp-3">Product design interviews are hard, but interviewing for product design internships is like any other skill.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/a-guide-to-interviewing-for-product-design-internships.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">careers</div>
              <div class="card-tag is-shownIfHover">Read Andrew Hwang's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/the-year-of-the-looking-glass/design-the-beginning-b8e61081ce42#.fi14v2sek" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/julie.jpg')"></div>
            <div class="card-title">Design the Beginning</div>
            <div class="card-description card-description--clamp-3">We often neglect to design the very beginning of things until they're already at their very end.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/design-the-beginning.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Julie Zhuo's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/emotional-intelligence-in-design-abcd1555b3e7#.i6vhu9kgc" target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/beth.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">Emotional Intelligence in Design</div>
            <p class="card-description card-description--clamp-14">Without mindfulness, products might only be rude, but they might also affect someone’s health, their support
              systems, or their very livelihood.</p>
            <p class="card-description card-article-preview">We’re on a journey together, you and me. We’ve come a long way, but design for the web is still in its adolescence.
              In the early aughts we learned to build websites without tables, then we learned to use data to make decisions.
              Emotion never played a role in driving page views, purchases or video plays. We just needed to get people from
              point A to point B...</p>
            <p></p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Beth Dean's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix case_studies" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/elegant-tools/designing-with-science-b33536e95f52#.mx8hobdma" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/darren.jpg')"></div>
            <div class="card-title">Designing with Science</div>
            <div class="card-description card-description--clamp-3">Not everything that matters can be measured, and not everything that is measured matters. — Elliot Eisner</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/designing-with-science.png);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">case studies</div>
              <div class="card-tag is-shownIfHover">Read Darren Geraghty's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/elegant-tools/facebook-s-four-business-design-principles-for-crafting-elegant-tools-581a7055dee8#.q9d31e59b"
        target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/margaret.jpg')"></div>
            <div class="card-title">Facebook’s Four Business Design Principles for Crafting Elegant Tools</div>
            <div class="card-description card-description--clamp-3">While Facebook is good at building consumer experiences, we didn't have that reputation in the business context.
              We wanted to do better, but we had to learn how.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/facebooks-four-business-design-principles-for-crafting-elegant-tools.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Margaret Gould Stewart's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/how-not-to-make-your-engineer-s-life-completely-terrible-292a6d5d134c#.5d2961dcl"
        target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/charlie.jpg')"></div>
            <div class="card-title">How Not to Make Your Engineer’s Life Completely Terrible</div>
            <div class="card-description card-description--clamp-3">I’m a designer. I like engineers. But I've noticed that most designers don’t know how to work well with them.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/how-not-to-make-your-engineers-life-completely-terrible.png);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Charlie Deets's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix tools" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/exploring-dynamic-layout-in-sketch-fdf0e825d1cf#.21yryrrov" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/matej.jpg')"></div>
            <div class="card-title">Exploring Dynamic Layout in Sketch</div>
            <div class="card-description card-description--clamp-0">If we combine the WYSIWYG nature of Sketch with the power of prototyping, we can make layouts more adaptive and
              dynamic.</div>
          </div>
          <div class="card-hero">
            <div class="card-image card-image--size-185" style="background-image: url(http://facebook.design/public/images/exploring-dynamic-layout-in-sketch.png);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">tools</div>
              <div class="card-tag is-shownIfHover">Read Matej Hrescak's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix case_studies" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/a-month-designing-in-vr-62474aef1f1c" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/julius.jpg')"></div>
            <div class="card-title">A Month Designing in VR</div>
            <div class="card-description card-description--clamp-3">A few months ago, I visited Oculus after they joined Facebook—and I remembered my passion for the merging of
              physical and digital.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/a-month-designing-in-vr.png);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">case studies</div>
              <div class="card-tag is-shownIfHover">Read Julius Tarng's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix case study" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/designing-moments-2b5362430125" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/laura.jpg')"></div>
            <div class="card-title">Designing Moments</div>
            <div class="card-description card-description--clamp-3">We wanted to help people gather the photos they take with friends. A strong, multidisciplinary team made it happen.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/designing-moments.png);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">case study</div>
              <div class="card-tag is-shownIfHover">Read Laura Javier's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/elegant-tools/designing-from-scratch-fea1489d78a5#.ybtd8rvzc" target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/anisha.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">Designing From Scratch</div>
            <p class="card-description card-description--clamp-14">About a year ago, we were discussing how strange it was that a mobile advertising tool for marketers didn’t exist...
              so we built one.</p>
            <p class="card-description card-article-preview">About a year ago, a couple of team members and I were discussing how strange it was that a mobile advertising
              tool for marketers didn’t exist. My team, the ads growth team, spends its time building products that make
              it easier for small businesses to advertise successfully on Facebook. But the majority of Facebook Ads products
              have been built with full-time marketers in mind. These people buy Facebook ads at work on their computers...</p>
            <p></p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Anisha Jain's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/elegant-tools/my-grandfather-s-drill-and-what-it-can-teach-us-about-designing-business-software-8a76f533e55c#.iyh1wi8c9"
        target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/margaret.jpg')"></div>
            <div class="card-title">What My Grandfather’s Drill Can Teach Us About Designing Business Software</div>
            <div class="card-description card-description--clamp-3">Physical tools give us extraordinary abilities. Software tools should do the same.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/what-my-grandfathers-drill-can-teach-us-about-designing-business-software.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Margaret Gould Stewart's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/the-year-of-the-looking-glass/what-designers-can-learn-from-pms-3aa285f511bc#.v0k2p07if"
        target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/julie.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">What Designers can Learn from Product Managers</div>
            <p class="card-description card-description--clamp-14">Since I work with some of the best PMs in the industry, I wanted to share some of my learnings over the years
              gleaned from their PM Handbook of Success...</p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Julie Zhuo's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/facebook-design/a-year-of-designing-at-facebook-74ba9c292888#.rp4hzvjge" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/cemre.png')"></div>
            <div class="card-title">A Year of Designing at Facebook</div>
            <div class="card-description card-description--clamp-0">At Facebook, we can explore design challenges that often aren't available elsewhere.</div>
          </div>
          <div class="card-hero">
            <div class="card-image card-image--size-185" style="background-image: url(http://facebook.design/public/images/a-year-of-designing-at-facebook.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Cemre Güngör's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/the-year-of-the-looking-glass/the-5-most-common-mistakes-in-design-52816ab77b3d#.cw9uq0c7j"
        target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/julie.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">The 5 Most Common Design Mistakes</div>
            <p class="card-description card-description--clamp-14">There’s no learning without mistakes. And I’ve done the following (as well as seen the following done) too many
              times to count.</p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Julie Zhuo's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix case_studies" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/@charliedeets/designing-for-privacy-on-facebook-5b62e3f8e631" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/charlie.jpg')"></div>
            <div class="card-title">Designing for Privacy on Facebook</div>
            <div class="card-description card-description--clamp-0">People are very different and have different expectations of Facebook, so privacy needs to work for all of them.</div>
          </div>
          <div class="card-hero">
            <div class="card-image card-image--size-185" style="background-image: url(http://facebook.design/public/images/designing-for-privacy-on-facebook.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">case studies</div>
              <div class="card-tag is-shownIfHover">Read Charlie Deets's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/the-year-of-the-looking-glass/why-i-design-at-facebook-bc978af3b0c1#.ygi9d1o5q" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/julie.jpg')"></div>
            <div class="card-title">Why Design at Facebook</div>
            <div class="card-description card-description--clamp-3">The most classic story of Facebook has nothing to do with its humble beginnings in a dorm room.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/why-design-at-facebook.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Julie Zhuo's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/the-year-of-the-looking-glass/why-i-design-at-facebook-bc978af3b0c1#.ygi9d1o5q" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/julie.jpg')"></div>
            <div class="card-title">The Death of "Users" and "Product Design"</div>
            <div class="card-description card-description--clamp-0">“We need to stop calling people users.” People don’t exist to use your products; you build products with the
              goal that they can be useful to people.</div>
          </div>
          <div class="card-hero">
            <div class="card-image card-image--size-185" style="background-image: url(http://facebook.design/public/images/the-death-of-users-and-product-design.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Julie Zhuo's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/the-year-of-the-looking-glass/how-to-do-a-product-critique-98b657050638" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/julie.jpg')"></div>
            <div class="card-title">How to do a Product Critique</div>
            <div class="card-description card-description--clamp-3">Product critique is about developing curiosity of why some products and experiences work for people, and why
              others don’t.</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/how-to-do-a-product-critique.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Julie Zhuo's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix process" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/the-year-of-the-looking-glass/matching-a-designer-to-the-right-project-11f119da0509" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/julie.jpg')"></div>
            <div class="card-title">Matching A Designer To The Right Project</div>
            <div class="card-description card-description--clamp-0">The first time I sit down with a designer joining my team, I ask one very specific question: what is it that
              motivates you?</div>
          </div>
          <div class="card-hero">
            <div class="card-image card-image--size-185" style="background-image: url(http://facebook.design/public/images/matching-a-designer-to-the-right-project.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">process</div>
              <div class="card-tag is-shownIfHover">Read Julie Zhuo's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/the-year-of-the-looking-glass/how-to-work-with-engineers-a3163ff1eced" target="_blank">
        <div class="card card--article not-visible">
          <!--Article-->
          <div class="card-body">
            <div class="card-circle card-circle--article" style="background-image: url('http://facebook.design/public/images/avatars/julie.jpg')"></div>
            <div class="card-title">How to Work with Engineers: a Cheat Sheet for Designers</div>
            <div class="card-description card-description--clamp-3">Engineers are like magicians who take plans and pixels and Voila! Create something that works. As a designer,
              how do you keep up with their meme-savvy, script-loving ways?</div>
          </div>
          <div class="card-hero">
            <div class="card-image" style="background-image: url(http://facebook.design/public/images/how-to-work-with-engineers.jpg);">
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Julie Zhuo's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/the-year-of-the-looking-glass/how-to-work-with-pms-3e852d5eccf5" target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/julie.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">How to Work with PMs: a Cheat Sheet for Designers</div>
            <p class="card-description card-description--clamp-14">Product managers are like chameleons, changing to do whatever it takes to ship. As a designer, how do you handle
              their data-gushing, smooth-talking ways?</p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Julie Zhuo's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/the-year-of-the-looking-glass/quality-is-not-a-tradeoff-bcddf7c85553" target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/julie.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">Quality is Not a Tradeoff</div>
            <p class="card-description card-description--clamp-14">Generally speaking, you can trade in more time and talent and scope to get more quality. Alas, the inverse is
              not true.</p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Julie Zhuo's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="mix culture" style="display: inline-block;" data-bound="">
      <a href="https://medium.com/the-year-of-the-looking-glass/how-to-present-designs-4a78c3ebca7b" target="_blank">
        <!--No Photo -->
        <div class="card card--article not-visible">
          <div class="card-body">
            <div class="card-circle card-circle--article card-circle--articleIfNoImage" style="background-image: url('http://facebook.design/public/images/avatars/julie.jpg')"></div>
            <div class="card-title card-title--articleIfNoImage">How to Present Designs</div>
            <p class="card-description card-description--clamp-14">If you're a designer, PM, architect, writer or anyone who spends most of their time living in a creative whirlwind,
              talking about design is an essential skill.</p>
          </div>
          <div class="card-footer">
            <div class="card-footer-wrapper" layout="row bottom-left">
              <div class="card-tag is-notShownIfHover">culture</div>
              <div class="card-tag is-shownIfHover">Read Julie Zhuo's article</div>
              <div class="card-medium is-shownIfHover" self="right"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
