@sidebar-width: 30%;

#shobhit {

  .container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: @header-height;
    margin: 0;
    overflow: hidden;

    .sidebar, .content {
      display: inline-block;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    > .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: @sidebar-width;
      padding-top: @header-height;
      background-color: #f9f9f9;
      z-index: 10;
    }

    > .content {
      position: relative;
      width: 100%;
      padding-left: @sidebar-width;
    }
  }

}
